@import '../src/assets/styles/variabless.module';
.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    color: #{getColorVarValue('character_light_title_85')};
    margin-top: 24px;
    margin-bottom: 0;
    text-wrap: balance;
}

.subtitle,
.footer {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    text-wrap: balance;
    color: #{getColorVarValue('character_light_secondary_45')};
    margin-top: 0;
    margin-bottom: 24px;
    padding-inline: 48px;
    span {
        font-weight: 700;
    }
    br {
        display: none;
    }
}

.footer {
    margin-bottom: -8px;
}

@media only screen and (max-width: 576px) {
    .subtitle {
        padding-inline: 0;
        margin-inline: -10px;
        br:last-of-type {
            display: block;
        }
    }
    .footer {
        padding-inline: 0;
        margin: 0;
    }
}
