.container {
    margin: 24px auto;
    height: 40px;

    .character {
        line-height: 38px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        color: #262626;
    }
}
.character-error {
    border: 1px solid #ff4d4f;
    border-radius: 2px;
    line-height: 38px;
}
.character__inactive {
    background: none;
}
.character__filled {
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 576px) {
    .container {
        padding-inline: 10px;
    }
}
