@import '../src/assets/styles/variabless.module';
.tabs {
    :global {
        .ant-layout {
            display: none;
        }
        .ant-tabs-nav-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }
        .ant-tabs-tab {
            width: 50%;
            justify-content: center;
            padding: 0;
        }
        .ant-tabs-tab + .ant-tabs-tab {
            margin-left: 0;
        }
        .ant-tabs-nav .ant-tabs-tab {
            padding: 20px 0 11px;
        }
        .ant-input-group-wrapper-status-error .ant-input-group-addon {
            border-right-color: #{getColorVarValue('character_light_border')};
        }
        .ant-input-group-wrapper-status-error .ant-input-status-error {
            border-left-color: #{getColorVarValue('character_light_border')};
        }
    }
}

@media only screen and (max-width: 576px) {
    .tabs {
        :global {
            .ant-tabs-nav-list {
                margin-top: 28px;
            }
            .ant-tabs-tab {
                padding: 0;
            }
            .ant-tabs-nav .ant-tabs-tab {
                padding: 10px 0 9px;
            }
            .ant-tabs-tab-btn {
                padding: 2px;
            }
        }
    }
}
