.appLayout {
    display:flex;
    align-items: stretch;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.appContainer{
    flex-basis: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    
}

