.modal-error-save-training {
    :global {
        .ant-modal-confirm-body .ant-modal-confirm-content {
            margin-top: 4px;
        }

        .ant-btn-lg {
            font-size: 14px;
        }

        .ant-modal-confirm .ant-modal-confirm-btns {
            margin-top: 22px;
        }
    }
}
