.regForm {
    padding-top: 8px;
    :global {
        .ant-input-group-addon {
            width: 71px;
            padding: 0 9px;
            font-size: 14px;
        }
        #basic_password_extra {
            font-size: 12px;
        }
        .ant-form-item {
            margin-bottom: 32px;
        }
        .ant-form-item-explain,
        .ant-form-item-explain-success,
        .ant-form-item-explain-error {
            font-size: 12px;
            // padding-top: 2px;
        }

        .ant-form-item + .ant-form-item {
            margin-bottom: 32px;
        }
        .ant-form-item + .ant-form-item + .ant-form-item {
            margin-bottom: 64px;
        }
        .ant-form-item + .ant-form-item + .ant-form-item + .ant-form-item {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 576px) {
    .regForm {
        padding-top: 2px;
        :global {
            #basic_password_help {
                font-size: 12px;
                height: 46px;
            }
            .ant-form-item-explain-success,
            .ant-form-item-explain-error {
                font-size: 12px;
                height: 48px;
                line-height: 1.3;
                margin-inline: -2px;
            }

            .ant-form-item {
                margin-bottom: 32px;
            }
            .ant-form-item + .ant-form-item {
                margin-bottom: 44px;
            }
            .ant-form-item + .ant-form-item {
                margin-bottom: 8px;
            }
            .ant-form-item + .ant-form-item + .ant-form-item {
                margin-bottom: 50px;
            }
        }
    }
}
