body{
    :global{
        *{
            font-family: 'Inter';
        }
    }
}

.mainLayout{
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

}
.ContentLayout{
    width: 100%;
}



.slider{
     .ant-layout-sider-children{
         background-color: #fff;
    }
    :global{
        .ant-btn-text.ant-btn.ant-btn-icon-only{
            height: 66px ;
            width: 20px ;
            border-radius: 0 ;
            border:  none;
            background-color:  #FFF ;
            clip-path: path("M0 -1.52588e-05L20 7.99998V58L0 66V-1.52588e-05Z");
            position:  absolute ;
            top:  50%;
            right:  -20px ;

            &:active,
            &hover{
                background-color:  #FFF;
            }    
        }  
    }    
}

.sliderNav{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #FFF;
}



.sliderLogo{
    height: 144px;
    padding-bottom: 14px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #fff;
}

aside{
    :global{
        .ant-layout-sider-children{
            background-color: #fff;
        }

        .ant-menu-item:last-child{
            flex-grow: 3;
        }
    }
}


