body{
    :global{
        *{
            font-family: 'Inter';
        }
    }
}

.mainLayout{
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

}
.ContentLayout{
    width: 100%;
}



.sider{
    :global{
        .ant-layout-sider-children{
            background-color: #fff;
            position: relative;
            height: 100%;
       }
        .ant-btn-text.ant-btn.ant-btn-icon-only{
            height: 66px ;
            width: 20px ;
            border-radius: 0 ;
            border:  none;
            background-color:  #FFF ;
            clip-path: path("M0 -1.52588e-05L20 7.99998V58L0 66V-1.52588e-05Z");
            position:  absolute ;
            top:  480px;
            right:  -20px ;

            &:active,
            &hover{
                background-color:  #FFF;
            }    
        }  
    }    
}

.siderLogo{
    height: 144px;
    padding-bottom: 14px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.siderMenuWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 152px);
    
}

.siderFooter{

    margin-top: auto;
    max-height: 40px;
    border-top: 1px solid #f0f0f0;
}






aside{
    :global{
        .ant-layout-sider-children{
            background-color: #fff;
        }


    }
}


@media only screen and (max-width: 576px) {
    aside{
        :global{
           .ant-menu-item.ant-menu-item-only-child{
            padding: 0 4px;
           }
        }
    }
    .sider{
        :global{
            .ant-btn-text.ant-btn.ant-btn-icon-only{
                height: 48px ;
                width: 32px ;
                border-radius: 0 ;
                border:  none;
                background-color:  #FFF ;
                clip-path: path("M0 0L32 5.81818V42.1818L0 48V0Z");
                position:  absolute ;
                top:  20px;
                right:  -32px ;
                z-index: 5;
    
                &:active,
                &hover{
                    background-color:  #FFF;
                }    
            }  
        }    
    }
}