.pageWrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr max-content 1fr;
    background-image: url(../../../assets/img/backgraund_entry_page_light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentWrapper {
    grid-row: 2/3;
    grid-column: 2/3;
    :global {
        .ant-card-body {
            padding: 0;
        }
    }
}
