@import '../../assets/styles/variabless.module';

body{
    :global{
        .ant-menu-inline-collapsed-tooltip{
            display: none;
        }
    }
}


.sider {
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.15);
    :global {
        .ant-menu{
            display: flex;
            flex-direction: column;
            gap: 16px;
            min-height: calc(100% - 144px);
            align-content: center;
            font-size: $ui_fontSize;
        }
        .ant-menu-item{
            padding: 12px;
            cursor: pointer;
        }
        
        .ant-menu-item:last-of-type{
            margin-top: auto;
            border-top: 1px solid #{getColorVarValue("character_light_dividers")};
            :global{
                .ant-menu-title-content{
                    margin-left: 25px;
                }
            }
        }
        .ant-menu-title-content{
            margin-left: 12px;
        }

        .ant-layout-sider-children {
            position: relative;
            height: 100%;

        }
        .ant-menu-inline-collapsed {
            align-items: center;
                .ant-menu-title-content{
                    display: none;
                }

        }

        .ant-btn-text.ant-btn.ant-btn-icon-only {
            height: 66px;
            width: 20px;
            border-radius: 0;
            border: 1px solid #{getColorVarValue("character_light_primary_inverse")};
            background-color: #{getColorVarValue("character_light_sider_background")};
            clip-path: path('M0 -1.52588e-05L20 7.99998V58L0 66V-1.52588e-05Z');
            position: absolute;
            top: 480px;
            right: -40px;
            z-index: 5;
            &:active,
            &hover {
                background-color: #{getColorVarValue("character_light_sider_background")};
            }
            span{
                position: relative;
                left: -17px;
                bottom: 1px;
                font-size: $ui_fontSize;
            }
        }
    }
}

.siderLogo {
    height: 144px;
    padding-right: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    span{
        margin-top: -24px;
    }
}



@media only screen and (max-width: 576px) {
    .sider {
        background-color:  #{getColorVarValue("character_light_primary_inverse")};
        :global {
            .ant-menu{
                min-height: calc(100% - 65px);
                gap: 10px;
            }
            .ant-menu-item{
                align-items: center;
                padding: 12px 10px;
            
                .ant-menu-item-icon{
                    display: none;
                }
                .ant-menu-title-content{
                    margin-left: 0;
                }

            }
            .ant-btn-text.ant-btn.ant-btn-icon-only {
                height: 48px;
                width: 32px;
                border-radius: 0;
                border: none;
                outline-color: transparent;
                outline-width: 0;
                outline-style: none;

                background-color: #{getColorVarValue("character_light_primary_inverse")};
                clip-path: path('M0 0L32 5.81818V42.1818L0 48V0Z');
                position: absolute;
                top: 20px;
                right: -38px;
                z-index: 5;

                &:active,
                &hover,
                &:focus,
                &:focus-visible {
                    outline-color: transparent;
                    -webkit-focus-ring-color-outline: none;
                }
                span{
                    position: relative;
                    left: -10px;
                    bottom: -1px;
                }
            }
        }
    }
    .siderLogo{
        height: 65px;
        padding-right: 0;
        span{
            margin-top: -16px;
        }
    }
}
