.header{
    display:grid;
    grid-template-columns: min-content 1fr max-content;
    grid-template-rows: min-content min-content;
    gap: 14px;
    align-items: center;
    position: relative;
    min-height: clamp( 132px, 168px, 194px );
    background-color: #F0F5FF;
    padding: 16px 24px;
}

.h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    grid-row: 2/3;
    grid-column: 1/3;
    text-wrap: balance
}

.headerTitle{
    line-height: 18px;
    margin: 0;
    grid-row: 1/2 ;
    grid-column: 1/2;
}

.headerActionsWrapper{
    grid-row: 2/3 ;
    grid-column: 3/4;
    align-self: start;
    padding: 0 15px 15px;
    width: 129px;
}


@media only screen and (max-width: 992px) {
    .h1{
        font-size: 24px;
        font-weight: 500;
    }
    .headerActionsWrapper{
        width: 105px;
    }
}

@media only screen and (max-width: 576px) {
    .h1{
        font-size: 20px;
    }
    .headerActionsWrapper{
        width: 32px;
        padding: 0;
    }
}