[class*='ant-select'].select[class*='ant-select-single'][class*='ant-select-show-arrow'] {
    width: 100%;

    :global {
        .ant-select-selection-item {
            text-align: left;
        }

        .ant-select-selector {
            border-color: transparent;
        }
    }
}
