$colors:(
"character_light_title_85": #262626,
"character_light_primary_85": #262626,
"character_light_secondary_45": #8c8c8c,
"character_light_disable_25": #bfbfbf,
"character_light_border": #d9d9d9,
"character_light_dividers": #f0f0f0,
"character_light_background": #f5f5f5,
"character_light_table_header": #fafafa,
"character_light_error": #ff4d4f,
"character_light_warning": #faad14,
"character_light_link": #1890ff,
"character_light_success": #52c41a,
"character_light_red_4": #ff7875,
"character_light_primary_inverse": #fff,
"character_light_sider_background": #fff,
"primary_light_1": #f0f5ff,
"primary_light_2": #d6e4ff,
"primary_light_3": #adc6ff,
"primary_light_4": #85a5ff,
"primary_light_5": #597ef7,
"primary_light_6": #2f54eb,
"primary_light_7": #1d39c4,
"primary_light_8": #10239e,
"primary_light_9": #061178,
"primary_light_10": #030852,
"blue_light_1": #e6f7ff,
"blue_light_2": #bae7ff,
"blue_light_3": #91d5ff,
"blue_light_4": #69c0ff,
"blue_light_5": #40a9ff,
"blue_light_6": #1890ff,
"blue_light_7": #096dd9,
"blue_light_8": #0050b3,
"blue_light_9": #003a8c,
"blue_light_10": #002766,
"neutral_gray_1": #fff,
"neutral_gray_2": #fafafa,
"neutral_gray_3": #f5f5f5,
"neutral_gray_4": #f0f0f0,
"neutral_gray_5": #d9d9d9,
"neutral_gray_6": #bfbfbf,
"neutral_gray_7": #8c8c8c,
"neutral_gray_8": #595959,
"neutral_gray_9": #434343,
"neutral_gray_10": #262626,
"neutral_gray_11": #1f1f1f,
"neutral_gray_12": #141414,
"neutral_gray_13": #000,
"primary_dark_1": #131629,
"primary_dark_2": #161d40,
"primary_dark_3": #1c2755,
"primary_dark_4": #203175,
"primary_dark_5": #263ea0,
"primary_dark_6": #2b4acb,
"primary_dark_7": #5273e0,
"primary_dark_8": #7f9ef3,
"primary_dark_9": #a8c1f8,
"primary_dark_10": #d2e0fa,
"blue_dark_1": #111d2c,
"blue_dark_2": #112a45,
"blue_dark_3": #15395b,
"blue_dark_4": #164c7e,
"blue_dark_5": #1765ad,
"blue_dark_6": #177ddc,
"blue_dark_7": #3c9ae8,
"blue_dark_8": #65b7f3,
"blue_dark_9": #8dcff8,
"blue_dark_10": #b7e3fa,
"character_dark_title_85": #dbdbdb,
"character_dark_primary_85": #dbdbdb,
"character_dark_secondary_45": #7c7c7c,
"character_dark_disable_25": #5a5a5a,
"character_dark_border": #434343,
"character_dark_dividers": #303030,
"character_dark_background": #262626,
"character_dark_table_header": #1c1c1c,
"character_dark_error": #a61d24,
"character_dark_warning": #d89614,
"character_dark_success": #49aa19,
"character_dark_link": #177ddc,
"character_dark_red_4": #791a1f,
"character_dark_sider_background": #111d2c,
);

@function getColorVarValue($name) {
    @return map_get($colors, $name);
  }


:export {
    @each $color, $value in $colors {
      #{to_lower_case(unquote($color))}: $value;
    }
  } 


  $ui_fontSize: 14px;
  $ui_boxSwodow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  $ui_borderRadius: 2px;
  $ui_border: 1px solid #{getColorVarValue("character_light_dividers")};
